COMPOSE_PROJECT_NAME=cakra_erpnext

SITE_NAME=erp.localhost
ADMIN_PASSWORD=admin
MYSQL_ROOT_PASSWORD=123

INSTALL_APPS=erpnext,hrms,erpnext_custom,container_depot,crm,helpdesk,raven,gameplan,telephony
BUILD_APPS=frappe,erpnext,hrms,crm,helpdesk,raven,gameplan
SKIP_BUILD_APPS=erpnext_custom,container_depot

FRAPPE_REPO=https://github.com/cakra-erpnext-apps/frappe
FRAPPE_BRANCH=version-16