.env
*.log
resolving
unpacking

frappe/
erpnext/
hrms/
crm/
helpdesk/
raven/
gameplan/
telephony/
erpnext_custom/
container_depot/

sites/
logs/
node_modules/
__pycache__/

nginx/certs/*.pem
nginx/certs/*.key
backups/*
!backups/.gitkeep